@font-face {
    font-family: 'roboto_mono';
    src: url('/static/fonts/RobotoMono-Bold.ttf') format('truetype');
}

body {
    margin: 0;
    height: 100vh;
    background: #c17676;
    font-family: Arial, sans-serif;
}

.header-container {
    width: 760px;
    margin: 20px auto;
    padding: 10px;
    font-family: Arial;
    color: #f8edeb;
    font-size: 30px;
}

#chat-container {
    width: 900px;
    margin: 20px auto;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 8px;
    background-color: #f8edeb;
    color: #c17676;
}
h2 {
       margin: 20px auto;
       padding-left: 280px;
       font-family: Arial;
       font-size: 35px;
       font-color: #fcd5ce;
}

#messages {
    height: 420px;
    overflow-y: auto;
    padding: 5px;
    margin-bottom: 10px;
}


#input-wrapper {
    position: relative;
    width: 100%;
}

#send-btn {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background: none;
    font-size: 20px;
    cursor: pointer;
    color: #c17676;
}

#user-input {
    width: 100%;
    padding: 12px 80px 12px 12px;
    font-size: 16px;
    border-radius: 10px;
    border: 2px solid #ccc;
    box-sizing: border-box;
}

#user-input:focus {
    border-color: #c17676;   /* makes border change colour when typing */
}

.user-message-container {
    width: 100%;
    text-align: right;    /* pushes user bubble to right */
}

.user-message {
    display: inline-block;
    max-width: 70%;
    padding: 8px 12px;
    margin: 5px 0;
    border-radius: 10px;
    background-color: #c17676;
    color: white;
    text-align: left;
}

.bot-message {
    text-align: left;
    margin: 5px 0;
     display: inline-block;
    max-width: 70%;
    padding: 8px 12px;
    margin: 5px 0;
    border-radius: 10px;
    background-color: #fff;
}